.textNick {
    padding: 0px;
    margin: 0px;
    text-align: right;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #27292C;
}

.textNick:hover {
    padding: 0px;
    margin: 0px;
    text-align: right;
    background-color: #346AFF;
    width: 88px;
    border-radius: 3px;
}

.nicklogoPosition{
    display: flex;
    text-align: right;
    justify-content: right;
    width: 210px;
    

}

.nicklogoImg{
    width: 48px;
    
}

.nicklogoImgPosition{
    padding: 0px 75px 0px 0px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
}

.belPosition:hover{
    opacity: 0.8;
}

.lisLungudg{
    position: absolute;
    margin: 43px 263px 0px 0px;
    list-style-type: none; 
    background-color: #346AFF;
    padding: 3px 5px;
    color: white;
}

.lisLungudg:hover{
    position: absolute;
    margin: 43px 263px 0px 0px;
    list-style-type: none; 
    background-color: #346AFF;
    padding: 3px 5px;
    color: white;
    opacity: 0.5;
}


.switch-lang:hover .Nicklogo-dropdown {
    display: block;
  }

  .Nicklogo-dropdown {
    display: none;
    border-radius: 5px;
    margin-top: 2px;
  }


  .userImage-Nicklogo{
        width: 45px;
  }
