.NewTripButton{
    width: 84%;
    height: 4%;
    margin-top: 3.17%;
    margin-bottom: 4.85%;
    background-color: #346AFF;
    border: #346AFF;
    border-radius: 5px;
    color: white;
  }
  
  .NewTripButton:hover{
    background-color: aqua;
  }