.bel{
    width: 28px;
    background-image: url();
}

.belPosition{
    padding: 0px 22.89px 0px 0px;
    width: 56.15px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.lisLungudg{
    position: absolute;
  
}