.bel{
    width: 28px;
    background-image: url();
}

.belPosition{
    padding: 0px 22.89px 0px 0px;
    width: 56.15px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.belPosition:hover{
    opacity: 0.8;
}

.lisLungudg{
    position: absolute;
    margin: 43px 263px 0px 0px;
    list-style-type: none; 
    background-color: #346AFF;
    padding: 3px 5px;
    color: white;
}

.lisLungudg:hover{
    position: absolute;
    margin: 43px 263px 0px 0px;
    list-style-type: none; 
    background-color: #346AFF;
    padding: 3px 5px;
    color: white;
    opacity: 0.5;
}